page-home {
  body {
    background: url("../assets/imgs/bg.jpg") no-repeat;
  }

  .home {
    background-color: #fff;
  }
  .ion-header {
    position: fixed;
  }
  .scroll-content, .fixed-content {
    // margin-top:0px!important;
  }

  .slide-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-color: transparent;
  }
  .slide-zoom {
    background: rgba(32, 32, 32, 0.2) !important;
    height: 100%;
  }

  .home-container {
    color: color($colors, secondary);
    position: absolute;
    top: 0;
    padding: 0.5vw;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    z-index: 2;
    overflow-y: auto;
    height: 100%;
  }
}
