<!--
  Generated template for the InfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>个人信息</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>

    <p style="text-align: center;"><img (click)="upAvater()" src="{{info.avatar}}"></p>
    <ion-list>
        <button ion-item>
            用户: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{info.username}}
        </button>
        <button ion-item>
            密码: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{info.password}}
        </button>
        <button ion-item>
            性别: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span *ngIf="info.gender==1">男</span><span *ngIf="info.gender==0">女</span>
        </button>
        <button ion-item>
            年龄: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{info.age}}
        </button>
        <button ion-item>
            手机: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{info.phone}}
        </button>
        <button ion-item>
            邮箱: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{info.email}}
        </button>
        <button ion-item>
            简介: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{info.intro}}
        </button>
    </ion-list>

</ion-content>
