page-send {
	.myinput{
		width: 100%;
	    color: #333;
	    height:100%;
	    paddding:0px!important;
	    -webkit-margin-before: 1em;
	    -webkit-margin-after: 1em;
	    -webkit-margin-start: 0px;
	    -webkit-margin-end: 0px;
	    height: 4rem;
	    line-height: 3.8rem;
	    margin: 0px;
	}
	.toolbar-ios{
	    paddding:0px!important;
	}

	.list-ios > .item-block:first-child{
	border:00px;
	}
}	
